/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F0F0F0;
    margin: 0;
    padding: 0;
}

h1 {
    color: #D30000;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#postForm {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    border: 1px solid #CCC;
    border-radius: 8px;
    background-color: #FFF;
}

label,
input,
textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    max-width: 500px;
}

textarea {
    resize: none;
}

button {
    background-color: #D30000;
    color: #FFF;
    cursor: pointer;
    width: 100%;
    padding: 0.25rem;
    border-radius: 8px;
}

button:hover {
    background-color: #A00000;
    transition: 0.3s;
}