@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #1D7044;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: fixed;
    top: 0;
    width: 100%;
}

footer {
    background-color: #1D7044;
    text-align: center;
    font-size: 12px;
    padding: 1.2rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #FFF;
}

.btnHeader {
    background-color: #1D7044;
    border: none;
    color: #FFF;
    cursor: pointer;
    padding: 0.5rem;
}

h1 {
    color: #FFF;
}

/* Style Main Div */

h2 {
    color: #1D7044;
    text-align: center;
}

#mainDiv {
    margin-top: 6.5rem;
    bottom: 0;
}

#divInputs {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 0.3rem;
    margin-top: 0.5rem;
}

#divIcon {
    margin-top: 2.4rem;
    width: 50%;
    text-align: center;
}

#divIconInputs {
    display: flex;
}

#icon {
    text-align: center;
    font-size: 250px;
}

label {
    color: #1D7044;
}

.inputs {
    width: 85%;
    height: 2rem;
}

#btnRegister {
    border: 1px solid #1D7044;
    background-color: #1D7044;
    padding: 0.4rem;
    border-radius: 8px;
    color: #FFF;
    margin: 0;
}

.error {
    color: red;
    font-size: 15px;
}

.success {
    color: green;
    font-size: 15px;
}

.hidden {
    display: none !important;
}

/* Style Sub Div */

#listPet {
    justify-content: center;
    align-items: center;
    gap: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    padding: 5rem;
}

.divEachPet {
    margin-top: 2.8rem;
    padding: 1rem;
    width: 16rem;
    height: 25rem;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(29,112,68,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(29,112,68,1);
box-shadow: 0px 0px 5px 0px rgba(29,112,68,1);
}

.imgEachPet {
    width: 160px;
    height: 220px;
}

#divText {
    width: 100%;
    height: 40%;
}

#divImg {
    width: 100%;
    height: 30%;
    text-align: center;
    justify-content: center;
}